approvaltests==0.1.2
boto3==1.2.6
botocore==1.4.1
certifi==0.0.8
chardet==1.0.1
docutils==0.12
Flask==0.8
fs==0.5.4
futures==3.0.5
gunicorn==0.14.2
Jinja2==2.6
jmespath==0.9.0
pbr==1.9.1
pymongo==3.2.1
python-dateutil==2.5.0
requests==0.11.1
six==1.10.0
stevedore==1.12.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.8.3
